{% extends "base.html" %}
{% load static %}
{% block title %}
- Detail -
{% endblock %}

{% block contents %}

<div class="add delete">
  <h1>日記詳細</h1>
  {% csrf_token %}
  <table>
      <tr>
          <th>{{form.weather.label}}</th>
          <td>{{form.weather}}</td>
      </tr>
      <tr>
          <th>{{form.condition.label}}</th>
          <td>{{ form.condition }}</td>
      </tr>
      <tr>
          <th>{{form.feeling.label}}</th>
          <td>{{ form.feeling }}</td>
      </tr>
      <tr>
          <th> {{form.description.label}}</th>
          <td>{{form.description}}</td>
      </tr>
  </table>
  <a href="{% url 'edit' form.pk %}">編集</a>
  <a href="{% url 'delete' form.pk %}">削除</a>

  <a href="{% url 'index' %}">一覧へ戻る</a>
</div>
{% endblock %}