{% extends "base.html" %}
{% load static %}
{% block title %}
- Detail -
{% endblock %}

{% block contents %}

{% for diary in diary_list %}
  <p>
    {% comment %} 日付 {% endcomment %}
    <a href="">{{ diary.created_at|date:"Y年m月d日 H:i" }}</a>
    {% comment %} 気分の画像表示 {% endcomment %}
    {% if diary.feeling == 0 %}
      <img src="{% static 'img/Smile.png' %}" alt="">
    {% elif diary.feeling == 1 %}
      <img src="{% static 'img/Smile.png' %}" alt="">
    {% elif diary.feeling == 2 %}
      <img src="{% static 'img/Smile.png' %}" alt="">
    {% endif %}
    {% comment %} 天気 {% endcomment %}
    天気：
    {{ diary.weather }}
    <a href="">編集</a>
    <a href="">削除</a>
  </p>
{% endfor %}
{% endblock %}