{% extends "base.html" %}
{% load static %}
{% block title %}
- Detail -
{% endblock %}

{% block contents %}

<div class="diary-item title_one">
    <div class="img_pin"><img src="{% static "img/gabyou_green.png" %}" alt=""></div>
    <h1>日記詳細</h1>
</div>
{% csrf_token %}
<div class="diary-item detail">
    <div class="img_pin"><img src="{% static "img/gabyou_blue.png" %}" alt=""></div>
    <div class="side">
        <div>

            <h2>作成日時</h2>
            <p>{{ form.created_at|date:"Y年m月d日 H:i" }}</p>
        </div>
        <div>
            
            <h2>更新日時</h2>
            <p>{{ form.updated_at|date:"Y年m月d日 H:i" }}</p>

        </div>
    </div>
    <hr>
    <div class="weather">
        <h2>天気</h2>
        <p>{{form.weather}}</p>
    </div>
    <hr>
    <div class="side_center">
        <div>
            <h2>体調</h2>
            <p>{{ form.get_condition_display }}</p>
            {% if form.condition == "good" %}
                <div class="img_detail">
                    <img src="{% static "img/sentiment_excited.png" %}" alt="">
                </div>
            {% elif form.condition == "normal" %}
                <div class="img_detail">
                    
                    <img src="{% static "img/sentiment_neutral.png" %}" alt="">
                </div>
            {% elif form.condition == "bad" %}
                <div class="img_detail">
                    <img src="{% static "img/sentiment_stressed.png" %}" alt="">
                </div>
                
            {% endif %}
        </div>
        <div>
            <h2>気分</h2>
            <p>{{ form.get_feeling_display }}</p>
            {% if form.feeling == "good" %}
                <div class="img_detail">
                  <img src="{% static "img/sentiment_excited.png" %}" alt="">
                </div>
            {% elif form.feeling == "normal" %}
                <div class="img_detail">
                  <img src="{% static "img/sentiment_neutral.png" %}" alt="">
                </div>
            {% elif form.feeling == "bad" %}
                <div class="img_detail">
                  <img src="{% static "img/sentiment_stressed.png" %}" alt="">
              </div>
              
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="side">
        <div>
            <h2>詳細</h2>
            <p>{{form.description | linebreaksbr}}</p>
        </div>
    </div>
</div>
<div class="diary-list">

    <div class="diary-item button">
        <a href="{% url 'edit' form.pk %}">
            <div class="img_pin"><img src="{% static "img/gabyou_red.png" %}" alt=""></div>
            <p class="add_p">編集</p>
            <hr>
            <div class="add_img"><img src="{% static "img/edit.png" %}" alt=""></div>
            
        </a>
    </div>
    <div class="diary-item button">
        <a href="{% url 'delete' form.pk %}">
            <div class="img_pin"><img src="{% static "img/gabyou_red.png" %}" alt=""></div>
            <p class="add_p">削除</p>
            <hr>
            <div class="add_img"><img src="{% static "img/delete.png" %}" alt=""></div>
        </a>
    </div>

    <div class="diary-item button">
        <a href="{% url 'index' %}">
            <div class="img_pin"><img src="{% static "img/gabyou_red.png" %}" alt=""></div>
            <p class="add_p">一覧へ戻る</p>
            <hr>
            <div class="add_img"><img src="{% static "img/return.png" %}" alt=""></div>
        </a>
    </div>
</div>
  {% comment %} <a href="{% url  %}"></a> {% endcomment %}
  {% comment %} <a href="{% url 'delete' form.pk %}">削除</a> {% endcomment %}
  {% comment %} <a href="{% url 'index' %}">一覧へ戻る</a> {% endcomment %}

{% endblock %}