{% extends "base.html" %}
{% load static %}
{% block title %}
- {{ diary.id|yesno:'Edit,Add' }} -
{% endblock %}

{% block contents %}
  <div class="diary-item title_one">
    <div class="img_pin"><img src="{% static "img/gabyou_green.png" %}" alt=""></div>
    <h1>日記{{ diary.id|yesno:'編集,追加' }}</h1>
  </div>

<p>
  <form action= " {% if diary.id %}{% url 'edit' diary.id %}{% else %}{% url 'add' %}{% endif %} " method="post">
    {% csrf_token %}
    {% comment %} 日付 {% endcomment %}
    {{ diary.created_at|date:"Y年m月d日 H:i" }}
    {% comment %} 体調 {% endcomment %}
    <div>
      体調
      {{form.condition}}
      {% if form.condition.errors %}
        {% for error in form.condition.errors %}
          <div class="field-error">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    {% comment %} 気分 {% endcomment %}
    <div>
      気分
      {{form.feeling}}
      {% if form.feeling.errors %}
        {% for error in form.feeling.errors %}
          <div class="field-error">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    {% comment %} 天気 {% endcomment %}
    <div>
      {{form.weather.label}}
      {{form.weather}}
      {% if form.weather.errors %}
        {% for error in form.weather.errors %}
          <div class="field-error">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    {% comment %} 詳細 {% endcomment %}
    <div>
      {{form.description.label}}
      {{form.description}}
      {% if form.description.errors %}
        {% for error in form.description.errors %}
          <div class="field-error">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    <button type="submit">{{ diary.id|yesno:'更新,登録' }}</button>
    <a href="{% if diary.id %}{% url 'detail' diary.id %}{% else %}{% url 'index' %}{% endif %}">戻る</a>
  </form> 
</p>

{% endblock %}