{% extends "base.html" %}
{% load static %}
{% block title %}
- {{ diary.id|yesno:'Edit,Add' }} -
{% endblock %}

{% block contents %}
  <div class="diary-item title_one">
    <div class="img_pin"><img src="{% static "img/gabyou_green.png" %}" alt=""></div>
    <h1>日記{{ diary.id|yesno:'編集,追加' }}</h1>
  </div>


<form action= " {% if diary.id %}{% url 'edit' diary.id %}{% else %}{% url 'add' %}{% endif %} " method="post">
    {% csrf_token %}
    <div class="diary-item detail">
      <div class="img_pin"><img src="{% static "img/gabyou_blue.png" %}" alt=""></div>
      {% comment %} 日付 {% endcomment %}
      {% if diary.id %}
      <div class="side">
        <div class="date_time">
          <h2>作成日時</h2>
          {{ diary.created_at|date:"Y年m月d日 H:i" }}
        </div>
        <div class="date_time">
          <h2>更新日時</h2>
          {{ diary.updated_at|date:"Y年m月d日 H:i" }}
        </div>
      </div>
      {% endif %}
      {% comment %} 天気 {% endcomment %}
      <div class="data weather">
        <h2>{{form.weather.label}}</h2>
        {{form.weather}}
        {% if form.weather.errors %}
        {% for error in form.weather.errors %}
        <div class="field-error">{{ error }}</div>
        {% endfor %}
        {% endif %}
      </div>
      <div class="side_center">
        {% comment %} 気分 {% endcomment %}
        <div class="feeling">
          <h2>気分</h2>
          {{form.feeling}}
          {% if form.feeling.errors %}
            {% for error in form.feeling.errors %}
              <div class="field-error">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>
        {% comment %} 体調 {% endcomment %}
        <div class="data">
          <h2>体調</h2>
          
          {{form.condition}}
          {% if form.condition.errors %}
            {% for error in form.condition.errors %}
              <div class="field-error">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      {% comment %} 詳細 {% endcomment %}
      <div class="data">
        <h2>{{form.description.label}}</h2>
        {{form.description}}
        {% if form.description.errors %}
          {% for error in form.description.errors %}
            <div class="field-error">{{ error }}</div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    {% comment %} <button type="submit">{{ diary.id|yesno:'更新,登録' }}</button>
    <a href="{% if diary.id %}{% url 'detail' diary.id %}{% else %}{% url 'index' %}{% endif %}">戻る</a> {% endcomment %}
  <div class="diary-list">

    <div class="diary-item button">
        <button type="submit" >  
            <div class="img_pin"><img src="{% static "img/gabyou_red.png" %}" alt=""></div>
            {{ diary.id|yesno:'更新,追加' }}
            <hr>
            <div class="add_img"><img src="{% static "img/edit_add.png" %}" alt=""></div>
        </button>
    </div>
    <div class="diary-item button">
        <a href="{% if diary.id %}{% url 'detail' diary.id %}{% else %}{% url 'index' %}{% endif %}">
          <div class="img_pin"><img src="{% static "img/gabyou_red.png" %}" alt=""></div>
          {% if diary.id %}
            <p class="add_p">詳細へ戻る</p>
          {% else %}
            <p class="add_p">一覧へ戻る</p>
          {% endif %}

          <hr>
          <div class="add_img"><img src="{% static "img/return.png" %}" alt=""></div>
        </a>
    </div>
  </div>
</form> 


{% endblock %}