{% extends "base.html" %}
{% load static %}
{% block title %}
- Top -
{% endblock %}

{% block contents %}
<div class="title_search">
  <div class="diary-item title">
    <div class="img_pin"><img src="{% static "img/gabyou_green.png" %}" alt=""></div>
    <h1>日記一覧</h1>
    {% comment %} <div class="title_img"><img src="{% static "img/title.png" %}" alt=""></div> {% endcomment %}
  </div>
  <div class="diary-item search">
    <div class="img_pin"><img src="{% static "img/gabyou_yellow.png" %}" alt=""></div>
    <form method="get" action="{% url 'search' %}" >
      <h2>日付検索</h2>
      <hr>
      <div class="side">
        <p>
          年を選択 {{ form.year }}
        </p>
        <p>
          月を選択 {{ form.month }}
        </p>
      </div>
      <button type="submit">検索</button>
    </form>
  </div>
</div>
<div class="diary-list">
  <div class="diary-item add">
    <a href="{% url 'add'%}">
      <div class="img_pin"><img src="{% static "img/gabyou_red.png" %}" alt=""></div>
      <p class="add_p">日記を追加</p>
      <hr>
      <div class="add_img"><img src="{% static "img/add.png" %}" alt=""></div>
    </a>
  </div>
  {% for diary in diary_list %}
  <div class="diary-item">
      <a href="{% url 'detail' diary.pk %}">
        <div class="img_pin"><img src="{% static "img/gabyou_blue.png" %}" alt=""></div>
        {% comment %} 日付 {% endcomment %}
          {{ diary.created_at|date:"Y年m月d日 H:i" }}
          <hr>
          
          <div class="diary_information">
            {% comment %} 天気 {% endcomment %}
            <p class="bottom_none">天気</p>
            <p>
              {{ diary.weather }}
            </p>

            <hr>
            
            <div class="feeling_condition_items">
              <div class="feeling">
                {% comment %} 気分の画像表示 {% endcomment %}
                <p>
                  気分
                </p>
                {% if diary.feeling == "good" %}
                <div class="img">
                  <img src="{% static "img/sentiment_excited.png" %}" alt="">
                </div>
                {% elif diary.feeling == "normal" %}
                <div class="img">
                  
                  <img src="{% static "img/sentiment_neutral.png" %}" alt="">
                </div>
                {% elif diary.feeling == "bad" %}
                <div class="img">
                  <img src="{% static "img/sentiment_stressed.png" %}" alt="">
              </div>
              
              {% endif %} 
            </div>
            {% comment %} 体調の画像表示 {% endcomment %}
            <div class="condition">
              <p>
                体調
              </p>
              {% if diary.condition == "good" %}
              <div class="img">
                <img src="{% static "img/sentiment_excited.png" %}" alt="">
              </div>
              {% elif diary.condition == "normal" %}
              <div class="img">
                
                <img src="{% static "img/sentiment_neutral.png" %}" alt="">
              </div>
              {% elif diary.condition == "bad" %}
              <div class="img">
                <img src="{% static "img/sentiment_stressed.png" %}" alt="">
              </div>
              
              {% endif %} 
            </div>
          </div>
      </a>
      </div>
  
    </div>
  {% endfor %}
</div>
{% endblock %}