@charset "utf-8";

/* 日記を横並び */
.diary-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em;
    gap: 2em;
}
/* トップ画面の日記表示の枠組み */
.diary-item{
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    padding-top: 0;
    border-radius: 5px;
    margin-top: 2em;
    background-color: #FFFAFA;
}
/* 日記の中のaタグ調整 */
.diary-item a{
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.diary-item a:hover{
    color: 	black;
}

/* 日記を追加のpタグの文字大きさ調整 */
.add_p{
    font-size: 20px;
    text-align: center;
}

/* 日記を追加のボックスの中のbtn調整 */

.add_img{
    width: 180px;
    height: 180px;
    margin: 0 auto;
}
.add_img img{
    width: 100%;
    height: 100%;
}

/* add_btnの中の画鋲の画像調整 */
.img_pin{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.img_pin img{
    width: auto;
    height: 100%;
}

/* 気分、体調横並びと間隔調整 */
.feeling_condition_items {
    display: flex;
    justify-content: center;
    gap: 30%;
}

/* 日記情報位置調整 */
.diary_information{
    text-align: center;
}
/* pタグ調整 */
.bottom_none{
    margin-bottom: 0px;
}

/* 気分体調画像調整 */
.img{
    width: 50px;
    height: 50px;

}
.img img {
    width: 100%;
    height: 100%;
}

/* 日記のアニメーション */
.diary-item:hover {
  box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
  transform: translateY(4px);
}

/* 背景画像 */
body{
    background-image: url(../img/kabe.jpg);
    background-position: center;
    background-size: cover;
}

/* タイトルと検索を横並び */
.title_search{
    display: flex;
    justify-content: space-between;
}

/* 検索欄 */
.search button{
    display: block;
    margin: 1em;
    margin-left: auto;
}

.search .side{
    display: flex;
}

.search p{
    margin-right: 1em;
}


/* タイトル */
.title h1{
    margin-top: 1.5em;
}

/* フォント */
body {
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: normal;
}

/* タイトル(タイトル単体の時) */
.title_one{
    width: 30%;
    text-align: center;
}

.title_detail{
    width: auto;
    text-align: center;
}

/* 共通 */
/* 画面遷移ボタン */
.button{
    width: 273px;
}

/* アニメーション */
/* .animation{
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.5s;
}

.keyframe3{
  animation: swing linear 4s infinite;
  transform: rotate(10deg);
  animation-duration: 4s;
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
} */

/* 詳細画面 */
.side{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 2em; */
}
.side_center{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.img_detail{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.img_detail img{
    width: 100%;
    height: 100%;
}

.detail{
    width: 50%;
    margin:auto;
    margin-top: 2em;
}

.detail p{
    font-size: 20px;
}

.weather{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.button button{
    display: block;
    margin: auto;
    width: 95%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
/* 編集追加画面 */

.editadd{
    width: 30%;
    margin: 0 auto;
    margin-top: 2em;
}

.side_editadd{
    display: flex;
    justify-content: space-between;
}
.side_editadd .feeling{
    margin-left: 2em;
}
.data{
    margin-bottom: 2em;
}
textarea[name="description"] {
    width: 100%;
    height: 10em;
}